{
  "solids": ["S1"],
  "rhoIni": [100],
  "reactions": [
                {"S1" : "Gas3"},
                {"S1" : "Gas4"}
                ],
  "parameters": [
                {"E": (E1), "A":(A1),  "n":4, "F":0.1,  "g":[1]},
                {"E": (E2), "A":(A2),   "n":2, "F":0.05, "g":[1]}
                ]
}

