{
  "solids": ["S1","ActSol1","Char1"],
  "rhoIni": [100, 0, 0],
  "reactions": [
                {"S1" : "ActSol1 + gas1"},
                {"ActSol1" : "Char1 + gas1"}
                ],
  "parameters": [
                {"E": (E1), "A":(A1),"g":[0.05799707253142021]},
                {"E": (E2), "A":(A2), "g":[0.12208352629335523]}
                ]
}

