{
  "solids": ["S1","Char1","Char2"],
  "rhoIni": [100, 0, 0],
  "reactions": [
                {"S1" : "Char1 + gas1"},
                {"S1" : "Char2 + gas1"}
                ],
  "parameters": [
                {"E": (E1), "A":(A1),"g":[0.1]},
                {"E": (E2), "A":(A2), "g":[0.2]}
                ]
}

